.button1{
  display: inline-block;
  outline: none;
  cursor: pointer;
  margin: 7px auto;
  background: transparent; 
  font-style: italic;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1rem;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  padding: 0.35rem 0.5rem;
}
.button1:hover {
  background-color: white;  
  color: #dc2743;
} 
.button2{
  display: inline-block;
  outline: none;
  cursor: pointer;
  margin: 20px auto;
  background-color: white;

  border-radius: 0.75rem;
  border: 1px solid transparent;
  color: #f09433;
  font-size: 0.75rem;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}
.button2:hover {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );    color: white;
  height: max-content;
} 

.button3{
  display: inline-table;
  outline: none;
  cursor: pointer;
  margin: 10px auto;
  background-color: white;

  border-radius: 0.75rem;
  border: 1px solid transparent;
  color: #dc2743;
  font-size: 1rem;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}
.button3:hover {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );    color: white;
  height: max-content;
} 

.unlike{
  display:  inline-table;
  outline: none;
  cursor: pointer;
  background-color: white;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  color: rgb(11, 179, 212) ;
  font-size: 1rem;
  line-height: 20px;
  font-weight: bold;
  text-align: right;
}

.unlike:hover{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);color: white;
  height: max-content;
}

