.button_link{
  display: inline-block;
  outline: none;
  cursor: pointer;
  margin: 0 20px;
  background: transparent; 
  font-style: italic;
  border-radius: 0.25rem;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
  padding: 0.35rem 2rem;
}
.button_link:hover {
  background-color: white;  
  color: #4285F4;
  border: 1px solid #4285F4;
} 

.button1{
  display: inline-block;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
  background: transparent; 
  font-style: italic;
  border-radius: 0.25rem;
  border: 1px solid #4285F4;
  color: #4285F4;
  font-size: 0.5rem;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
  padding: 0.35rem 0.5rem;
}
.button1:hover {
  background-color: white;  
  color: #EA4335;
  border: 1px solid #EA4335;
} 