html {
  font-family:  "游明朝体","YuMincho";
  background-color:#4285F4 ;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: serif;
  font-weight: 100;    
  display: contents;
  margin: 0 auto;
  text-align: center;

}

.index{
  display: contents;
  margin: 0 auto;
  text-align: center;
}

.show{
  display: block;
  margin: 0 50px;
  padding: 30px 50px;
  text-align: left;
  background-color: white;
  font-weight: lighter;
  line-height: 180%;
}

.edit{
  display: block;
  margin: 0 50px;
  padding: 30px 50px;
  text-align: left;
  background-color: white;
  font-weight: lighter;
  line-height: 180%;
}

.new{
  display: block;
  margin: 0 50px;
  padding: 30px 50px;
  text-align: left;
  background-color: white;
  font-weight: lighter;
  line-height: 180%;
}



